{% extends 'base.html' %}
{% block content %}
<div>
  <h1>Hello, world!</h1>

  <div class="container" pt-4>
  <div class="col-lg-4 mx-auto shadow p-0 mt-4">
  <div class="alert alert-info">
    <h2>Add New TODO</h2>
  <div class="p-4">
    <form action="/add-todo/" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <hr>
  <input type="submit" value="ADD" class="btn btn-info">
  </form>
  </div>
    <div class="col">
    <div class="border">
      {% if todos|length == 0 %}
      <div class="p-4">
        <br>
        <br>
          <div class="alert alert-info text-center">
        <p class="" style="font-size:">No TODOs</p>
      </br>
            </br>
      </div>
      </div>
      </div>
      </div>
      {% else %}
      {% endif %}
      <div>
        <table class="table">
          <thead>
          <tr>
            <th>#</th>
            <th>Title</th>
            <th>Status</th>
            <th>Priority</th>
            <th>Action</th>
          </tr>
          </thead>
              <tbody>
          {% for todo in todos %}
          <tr>
             <td>{{forloop.counter}}</td>
             <td>{{todo.title}}</td>

             <td>
               {% if todo.status == 'C' %}
                 ✅
               {%else%}
               ⌚
               {% endif %}
             </td>
            <td>{{todo.priority}}</td>
            <td>
               <a href="/delete-todo/{{todo.id}}" title="Delete" class="">🗑</a>
               {% if todo.status == 'P' %}
               <a href="/change-status/{{todo.id}}/C" title="Mark Completed" class="">✅</a>
               {%else%}
               <a href="/change-status/{{todo.id}}/P" title="Mark Pending" class="">⌚</a>
               {% endif %}
             </td>
          </tr>
          {% endfor %}

        </tr>
        </tbody>
            </th>
          </tr>
          </thead>
        </table>
      </div>
      {% for todo in todos %}
      {{todos.title }}
      {% endfor %}
    </div>
      </div>
{% endblock %}
